{% extends 'index.html' %}
{% block content %}
{% load static %}

<!-- <section class="w3l-inner-banner-main">
    <div class="about-inner contact">
        <div class="breadcrumbs-sub">
            <ul class="breadcrumbs-custom-path">
                <li class="right-side propClone"><a href="index.html" class="editContent"></a> <p></li>
                <li class="active editContent">
                    </li>
            </ul>
            </div>
</div>
</div>
</section> -->
<section class="w3l-contact-info-main" id="contact">
    <div class="contact-sec	editContent">
        <div class="container">

            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col text-center"><br><br>
                        </div>
                    </div>
                    <div class="row about_row">
                        <div class="col-lg-6">
                            <div class="about_content"><br>
                                <div class="text_highlight" style="color:rgb(0, 0, 0)"><br> <p class="lead">
                                    Welcome to KERALABLISS, where a world of history and scenery are hidden.We are more than just a travel guide; we are a haven of comfort, elegance, and warm hospitality.KERALABLISS is one of best traveling partner in kerala.We provide you a good traveling experience. At KERALABLISS, we are committed to creating memories that last a lifetime. Our commitment to excellence is reflected in every aspect of our tours .We believe in going the extra mile to ensure your stay with us is nothing short of exceptional.
                                  </p></div>
                                <div class="about_text" >
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"><br>
                            <div class="about_image"><img src="{% static 'images/g10.jpg' %}" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
 
      <!-- team -->
      <section class="w3l-team" id="team">
        <div class="team-block py-5">
          <div class="container py-lg-5">
            <div class="title-content text-center mb-lg-3 mb-4">
              <h6 class="sub-title">Our team</h6>
              <h3 class="hny-title">Meet our Guides</h3>
            </div>
            <div class="row">
              <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                <div class="box16">
                  <a href="#url"><img src="assets/images/team1.jpg" alt="" class="img-fluid" /></a>
                  <div class="box-content">
                    <h3 class="title"><a href="https://www.instagram.com/vivekps.__/">VIVEK</a></h3>
                    
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                <div class="box16">
                  <a href="#url"><img src="assets/images/team2.jpg" alt="" class="img-fluid" /></a>
                  <div class="box-content">
                    <h3 class="title"><a href="https://www.instagram.com/ajay_perumpallil/">AJAY</a></h3>
                    
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                <div class="box16">
                  <a href="#url"><img src="assets/images/team3.jpg" alt="" class="img-fluid" /></a>
                  <div class="box-content">
                    <h3 class="title"><a href="https://www.instagram.com/el_stoic/">ELDHO</a></h3>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                <div class="box16">
                  <a href="#url"><img src="assets/images/team4.jpg" alt="" class="img-fluid" /></a>
                  <div class="box-content">
                    <h3 class="title"><a href="https://www.instagram.com/__abyn__/">ABIN</a></h3>
                    
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- //team -->

{% endblock %}